In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [74]:
member_df=pd.read_csv('Member_data.csv')
member_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81360 entries, 0 to 81359
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객번호    81360 non-null  object
 1   성별      81094 non-null  object
 2   결혼유무    81094 non-null  object
 3   거주지역    81094 non-null  object
 4   연령      81094 non-null  float64
 5   결제등록카드  81094 non-null  object
 6   유입경로    81094 non-null  object
 7   자녀여부    81094 non-null  object
dtypes: float64(1), object(7)
memory usage: 5.0+ MB

C:\Users\hdemn\AppData\Local\Temp\ipykernel_5312\1201599850.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  member_df=pd.read_csv('Member_data.csv')

In [62]:
member_df

                       고객번호   성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0           201812310749735    여   기혼   인천  37.0   국민은행   인스타그램  Yes
1           201812310749770    여   기혼   제주  33.0   국민은행    검색광고  Yes
2           201812310749771    여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3           201812310749774    여   미혼   경남  34.0   기업은행    지인추천   No
4           201812310749780    여   기혼   서울  32.0   신한은행    직접검색  Yes
...                     ...  ...  ...  ...   ...    ...     ...  ...
81355  20200724113017315991  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81356  20200729134409126553  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81357  20200803075905757887  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81358  20200805170229147688  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81359  20200805223526494551  NaN  NaN  NaN   NaN    NaN     NaN  NaN

[81360 rows x 8 columns]

In [75]:
member_df = member_df.dropna()
member_df

                  고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0      201812310749735  여   기혼   인천  37.0   국민은행   인스타그램  Yes
1      201812310749770  여   기혼   제주  33.0   국민은행    검색광고  Yes
2      201812310749771  여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3      201812310749774  여   미혼   경남  34.0   기업은행    지인추천   No
4      201812310749780  여   기혼   서울  32.0   신한은행    직접검색  Yes
...                ... ..  ...  ...   ...    ...     ...  ...
81089  201912291058164  여   기혼   경기  31.0   국민은행    오픈마켓  Yes
81090  201912291058167  여   기혼   경남  37.0   롯데카드    오픈마켓  Yes
81091  201912291058168  여   기혼   충북  26.0   삼성카드    검색광고  Yes
81092  201912291058169  여   기혼   경기  32.0  새마을금고   인스타그램  Yes
81093  201912291058171  여   기혼   서울  35.0  새마을금고   인스타그램  Yes

[81094 rows x 8 columns]

In [76]:
member_df['결제등록카드'] = member_df['결제등록카드'].replace('국민카드', '국민은행')

In [77]:
member_df['결제등록카드'] = member_df['결제등록카드'].replace('신한카드', '신한은행')

In [78]:
member_df['결제등록카드'] = member_df['결제등록카드'].replace('외환은행', '하나은행')

In [47]:
member_df

                  고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0      201812310749735  여   기혼   인천  37.0   국민은행   인스타그램  Yes
1      201812310749770  여   기혼   제주  33.0   국민은행    검색광고  Yes
2      201812310749771  여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3      201812310749774  여   미혼   경남  34.0   기업은행    지인추천   No
4      201812310749780  여   기혼   서울  32.0   신한은행    직접검색  Yes
...                ... ..  ...  ...   ...    ...     ...  ...
81089  201912291058164  여   기혼   경기  31.0   국민은행    오픈마켓  Yes
81090  201912291058167  여   기혼   경남  37.0   롯데카드    오픈마켓  Yes
81091  201912291058168  여   기혼   충북  26.0   삼성카드    검색광고  Yes
81092  201912291058169  여   기혼   경기  32.0  새마을금고   인스타그램  Yes
81093  201912291058171  여   기혼   서울  35.0  새마을금고   인스타그램  Yes

[81094 rows x 8 columns]

In [22]:
member_df.to_csv('Member_data_전처리.csv', index=False, encoding='utf-8-sig')

In [ ]:
import numpy as np
import pandas as pd

In [130]:
sales_df=pd.read_csv('sales_utf8.csv', encoding='utf-8-sig')

C:\Users\hdemn\AppData\Local\Temp\ipykernel_5312\2246209387.py:1: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df=pd.read_csv('sales_utf8.csv', encoding='utf-8-sig')

In [131]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199999 non-null  object
 1   배송완료일   199999 non-null  object
 2   배송시작일   199999 non-null  object
 3   구매일     199999 non-null  object
 4   구매시월령   168142 non-null  float64
 5   고객번호    199999 non-null  object
 6   구매금액    199999 non-null  int64
 7   결제금액    199999 non-null  int64
 8   물품대분류   199999 non-null  object
 9   상품명     199999 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 15.3+ MB

In [29]:
merged_df = pd.merge(member_df, sales_df, on='고객번호', how='inner')

In [30]:
merged_df

,고객번호,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,주문번호,배송완료일,배송시작일,구매일,구매시월령,구매금액,결제금액,물품대분류,상품명
0,201812310749735,여,기혼,인천,37.0,국민은행,인스타그램,Yes,9050523429701,2022-05-13,2022-05-07,2022-05-06,4.0,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입)
1,201812310749770,여,기혼,제주,33.0,국민은행,검색광고,Yes,9022820953853,2022-03-05,2022-03-01,2022-02-28,NaN,5610,3800,FMC,크리넥스？키즈용？화장지？3겹？27m 8롤
2,201812310749771,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,9051323670034,2022-05-16,2022-05-14,2022-05-13,66.0,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형)
3,201812310749774,여,미혼,경남,34.0,기업은행,지인추천,No,9050923562475,2022-05-13,2022-05-11,2022-05-10,5.0,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형)
4,201812310749774,여,미혼,경남,34.0,기업은행,지인추천,No,9072826493586,2022-08-02,2022-07-30,2022-07-29,8.0,101280,76744,기저귀,[2019년형] 하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135089,201912291058168,여,기혼,충북,26.0,삼성카드,검색광고,Yes,001313357732199579,2023-02-04,2023-02-02,2023-02-01,8.0,53920,45971,팬티,하기스 네이처메이드 팬티 3단계 여아 116매(팬티형)
135090,201912291058168,여,기혼,충북,26.0,삼성카드,검색광고,Yes,002033367542199580,2023-02-07,2023-02-05,2023-02-04,8.0,5900,5841,체험팩,NEW 하기스 맥스드라이 팬티 3단계 공용 20매(팬티형/체험팩)
135091,201912291058168,여,기혼,충북,26.0,삼성카드,검색광고,Yes,00718082624-57943215199581,2023-07-24,2023-07-20,2023-07-19,13.0,99800,73588,팬티,하기스 NEW 네이처메이드 썸머팬티 4단계 공용 82매(팬티형)
135092,201912291058169,여,기혼,경기,32.0,새마을금고,인스타그램,Yes,912293246143199582,2023-01-01,2022-12-30,2022-12-29,NaN,51000,36579,팬티,2020 하기스 맥스드라이 팬티 4단계 공용 96매(팬티형)
135093,201912291058171,여,기혼,서울,35.0,새마을금고,인스타그램,Yes,00515125838-30733800199583,2023-05-19,2023-05-17,2023-05-16,5.0,4900,4851,체험팩,2020 하기스 매직 컴포트 3단계 공용 20매(밴드형/체험팩) (EA)

In [31]:
unique_customers = merged_df['고객번호'].nunique()
print(f"중복 제거된 고객 수: {unique_customers}")

중복 제거된 고객 수: 66427

In [132]:
member_df['고객번호'] = pd.to_numeric(member_df['고객번호'], errors='coerce')
sales_df['고객번호'] = pd.to_numeric(sales_df['고객번호'], errors='coerce')

In [70]:
# member_df['고객번호'] = member_df['고객번호'].astype(int)
# sales_df['고객번호'] = sales_df['고객번호'].astype(int)

C:\Users\hdemn\AppData\Local\Temp\ipykernel_5312\4057236300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  member_df['고객번호'] = member_df['고객번호'].astype(int)

In [133]:
member_df.info(), sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81094 entries, 0 to 81093
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   고객번호      81094 non-null  int64
 1   성별        81094 non-null  object
 2   결혼유무      81094 non-null  object
 3   거주지역      81094 non-null  object
 4   연령        81094 non-null  float64
 5   결제등록카드    81094 non-null  object
 6   유입경로      81094 non-null  object
 7   자녀여부      81094 non-null  object
 8   고객번호_int  81094 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(6)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199999 non-null  object
 1   배송완료일   199999 non-null  object
 2   배송시작일   199999 non-null  object
 3   구매일     199999 non-null  object
 4   구매시월령   168142 non-null  float64
 5   고객번호    199999 non-null  float64
 6   구매금액    199999 non-null  int64
 7   결제금액    199999 non-null  int64
 8   물품대분류   199999 non-null  object
 9   상품명     199999 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 15.3+ MB

(None, None)

In [134]:
common_ids = member_df['고객번호'].isin(sales_df['고객번호'])
filtered_member_df = member_df[common_ids]

In [135]:
filtered_member_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81094 entries, 0 to 81093
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   고객번호      81094 non-null  int64
 1   성별        81094 non-null  object
 2   결혼유무      81094 non-null  object
 3   거주지역      81094 non-null  object
 4   연령        81094 non-null  float64
 5   결제등록카드    81094 non-null  object
 6   유입경로      81094 non-null  object
 7   자녀여부      81094 non-null  object
 8   고객번호_int  81094 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(6)
memory usage: 5.9+ MB

In [136]:
common_ids = sales_df['고객번호'].isin(member_df['고객번호'])
filtered_sales_df = sales_df[common_ids]

In [137]:
filtered_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199583 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199583 non-null  object
 1   배송완료일   199583 non-null  object
 2   배송시작일   199583 non-null  object
 3   구매일     199583 non-null  object
 4   구매시월령   167840 non-null  float64
 5   고객번호    199583 non-null  float64
 6   구매금액    199583 non-null  int64
 7   결제금액    199583 non-null  int64
 8   물품대분류   199583 non-null  object
 9   상품명     199583 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 16.7+ MB

In [139]:
filtered_sales_df.to_csv('416건뺀sales.csv', index=False, encoding='utf-8-sig')

In [138]:
num_common_customers = member_df['고객번호'].isin(sales_df['고객번호']).sum()
print(f"공통 고객 수: {num_common_customers}")

공통 고객 수: 81094

In [101]:
duplicated_product_df = product_counts[product_counts >= 2].reset_index()
duplicated_product_df.columns = ['상품명', '등장횟수']
duplicated_product_df

                                            상품명   등장횟수
0                                       맘큐 허그박스  12077
1                   하기스 네이처메이드 2단계 여아 156매(밴드형)   3010
2                   하기스 네이처메이드 2단계 남아 156매(밴드형)   2792
3                 더블하트 SofTouch 모유실감 젖꼭지 L (2입)   2782
4                 더블하트 SofTouch 모유실감 젖꼭지 M (2입)   2767
...                                         ...    ...
2374  [율그란] 어린이집 낮잠이불세트 폭스핑크(무형광오가닉, 신생아부터사용가능)      2
2375          하기스 네이처메이드 밤부 2단계 여아 156매(밴드형) X2      2
2376         하기스 네이처메이드 오가닉 1단계 공용 180매(밴드형) X2      2
2377         하기스 네이처메이드 오가닉 4단계 여아 104매(밴드형) X2      2
2378                            [디즈니베이비] 푸우 삑삑이      2

[2379 rows x 2 columns]

In [110]:
# 1. 상품명별 고유 구매금액 배열 만들기
price_map = sales_df.groupby('상품명')['구매금액'].unique()

# 2. 배수 관계로 추정되는 상품 제외
def is_not_simple_multiple(prices):
    prices = np.sort(prices)
    if len(prices) < 2:
        return False
    for i in range(len(prices)):
        for j in range(i + 1, len(prices)):
            small = prices[i]
            large = prices[j]
            if small == 0:
                continue
            ratio = large / small
            # 정수배이면 제외
            if ratio.is_integer():
                return False
    return True

# 3. 조건을 만족하는 상품과 가격 목록 저장
valid_products = []
for name, prices in price_map.items():
    if is_not_simple_multiple(prices):
        valid_products.append({'상품명': name, '구매금액목록': sorted(prices)})

# 4. DataFrame으로 정리
valid_df = pd.DataFrame(valid_products)

# 5. 결과 
valid_df  # 상위 10개만 보기

                                       상품명        구매금액목록
0      2020 하기스 매직 컴포트 3단계 공용 180매(밴드형) X2   [0, 130400]
1      2020 하기스 매직 컴포트 4단계 공용 150매(밴드형) X2   [0, 130400]
2      2020 하기스 매직 컴포트 4단계 공용 150매(밴드형) X3   [0, 195600]
3      2020 하기스 매직 컴포트 5단계 공용 126매(밴드형) X2   [0, 130400]
4    2020 하기스 매직팬티 컴포트 3단계 남아 160매(팬티형) X3   [0, 200400]
..                                     ...           ...
413    하기스 네이처메이드 팬티 밤부 6단계 여아 76매(팬티형) X2   [0, 124800]
414         하기스 매직핏기저귀 3단계 공용 20매(밴드형/체험팩)  [4900, 6040]
415          하기스 매직핏팬티 4단계 남아 20매(팬티형/체험팩)  [5900, 7280]
416          하기스 매직핏팬티 4단계 여아 20매(팬티형/체험팩)  [5900, 7280]
417       하기스 에어솔솔 팬티 4단계 여아용 20매(팬티형/체험팩)  [5900, 6040]

[418 rows x 2 columns]

In [159]:
valid_with_zero = valid_df[
    valid_df['구매금액목록'].apply(lambda x: 0 in x and len(x) > 1)
]

# 결과 확인
print(valid_with_zero)

                                                                    상품명       구매금액목록  구매금액_0_개수
0                                   2020 하기스 매직 컴포트 3단계 공용 180매(밴드형) X2  [0, 130400]          1
1                                   2020 하기스 매직 컴포트 4단계 공용 150매(밴드형) X2  [0, 130400]          1
2                                   2020 하기스 매직 컴포트 4단계 공용 150매(밴드형) X3  [0, 195600]          1
3                                   2020 하기스 매직 컴포트 5단계 공용 126매(밴드형) X2  [0, 130400]          1
4                                 2020 하기스 매직팬티 컴포트 3단계 남아 160매(팬티형) X3  [0, 200400]          1
7                                 2020 하기스 매직팬티 컴포트 4단계 남아 132매(팬티형) X2  [0, 133600]          1
8                                 2020 하기스 매직팬티 컴포트 4단계 남아 132매(팬티형) X3  [0, 200400]          1
9                                 2020 하기스 매직팬티 컴포트 4단계 여아 132매(팬티형) X2  [0, 133600]          1
10                                2020 하기스 매직팬티 컴포트 5단계 남아 108매(팬티형) X3  [0, 200400]          1
12                                2020 하기스 매직팬티 컴포트 5단계 여아 108매(팬티형) X3  [0, 200400]          1
14                                 2020 하기스 매직팬티 컴포트 6단계 남아 92매(팬티형) X3  [0, 200400]          1
15                                 2020 하기스 매직팬티 컴포트 6단계 여아 92매(팬티형) X2  [0, 133600]          1
16                                 2020 하기스 매직팬티 컴포트 6단계 여아 92매(팬티형) X3  [0, 200400]          1
20                                   NEW 하기스 네이처메이드 1단계 공용 186매(밴드형) X2  [0, 112800]          1
21                                   NEW 하기스 네이처메이드 1단계 공용 186매(밴드형) X3  [0, 169200]          1
22                                   NEW 하기스 네이처메이드 2단계 남아 156매(밴드형) X2  [0, 112800]          1
23                                   NEW 하기스 네이처메이드 2단계 남아 156매(밴드형) X3  [0, 169200]          1
24                                   NEW 하기스 네이처메이드 2단계 여아 156매(밴드형) X2  [0, 112800]          1
25                                   NEW 하기스 네이처메이드 3단계 남아 132매(밴드형) X2  [0, 112800]          1
26                                   NEW 하기스 네이처메이드 3단계 여아 132매(밴드형) X2  [0, 112800]          1
27                                   NEW 하기스 네이처메이드 3단계 여아 132매(밴드형) X3  [0, 169200]          1
28                                   NEW 하기스 네이처메이드 4단계 남아 108매(밴드형) X2  [0, 112800]          1
29                                   NEW 하기스 네이처메이드 4단계 남아 108매(밴드형) X3  [0, 169200]          1
30                                   NEW 하기스 네이처메이드 4단계 여아 108매(밴드형) X2  [0, 112800]          1
31                                   NEW 하기스 네이처메이드 4단계 여아 108매(밴드형) X3  [0, 169200]          1
32                                    NEW 하기스 네이처메이드 5단계 남아 92매(밴드형) X2  [0, 112800]          1
33                                    NEW 하기스 네이처메이드 5단계 여아 92매(밴드형) X2  [0, 112800]          1
36                 NEW 하기스 네이처메이드 팬티 3단계 남아 116매(팬티형) X2 + 보너스 24매 추가증정  [0, 116200]          1
37                 NEW 하기스 네이처메이드 팬티 3단계 여아 116매(팬티형) X2 + 보너스 24매 추가증정  [0, 116200]          1
38                 NEW 하기스 네이처메이드 팬티 3단계 여아 116매(팬티형) X3 + 보너스 36매 추가증정  [0, 174300]          1
39                                 NEW 하기스 네이처메이드 팬티 4단계 남아 96매(팬티형) X3  [0, 174300]          1
40                                 NEW 하기스 네이처메이드 팬티 4단계 여아 96매(팬티형) X3  [0, 174300]          1
41                                 NEW 하기스 네이처메이드 팬티 5단계 남아 80매(팬티형) X3  [0, 174300]          1
42                                 NEW 하기스 네이처메이드 팬티 5단계 여아 80매(팬티형) X3  [0, 174300]          1
43                                    NEW 하기스 맥스드라이 3단계 공용 132매(밴드형) X2   [0, 99800]          1
44                                    NEW 하기스 맥스드라이 3단계 공용 132매(밴드형) X3  [0, 149700]          1
45                                   NEW 하기스 맥스드라이 4단계 공용 108매(밴드형) X 2   [0, 99800]          1
46                                    NEW 하기스 맥스드라이 4단계 공용 108매(밴드형) X3  [0, 149700]          1
47                                     NEW 하기스 맥스드라이 5단계 공용 92매(밴드형) X3  [0, 149700]          1
48                 NEW 하기스 맥스드라이 팬티 3단계 남아 116매(팬티형) + 보너스 12매 추가증정 X 2  [0, 102400]          1
49                                  NEW 하기스 맥스드라이 팬티 4단계 남아 96매(팬티형) X3  [0, 153600]          1
50                                  NEW 하기스 맥스드라이 팬티 4단계 여아 96매(팬티형) X3  [0, 153600]          1
52                                  NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형) X3  [0, 153600]          1
53                                  NEW 하기스 맥스드라이 팬티 5단계 여아 80매(팬티형) X3  [0, 153600]          1
54                                  NEW 하기스 맥스드라이 팬티 6단계 남아 68매(팬티형) X3  [0, 153600]          1
56                                  NEW 하기스 맥스드라이 팬티 6단계 여아 68매(팬티형) X3  [0, 153600]          1
57                                  NEW 하기스 맥스드라이 팬티 7단계 여아 56매(팬티형) X3  [0, 145800]          1
158                        [벚꽃에디션] 좋은느낌 라인프렌즈 유기농 순면 뉴 슬림 날개 대형 14개입 X4   [0, 24400]          1
360                   그린핑거 촉촉한 자연보습 거품워시 320ml + 그린핑거 촉촉한 자연보습 워시 320ml   [0, 32340]          1
371  더블하트 SofTouch 모유실감 젖병 160ml(SS사이즈, 오렌지) + 젖병 스펀지브러쉬 + 젖꼭지 브러쉬 와이드형   [0, 38800]          1
375                                           더블하트 마그마그 스트로컵 프리미엄+ 스트로탑   [0, 34500]          1
376                                 더블하트 마그마그 스트로컵 프리미엄+교체용빨대(2입)+빨대브러쉬   [0, 34100]          1
377                          더블하트 마그마그 스트로컵 프리미엄+이유식 스스로 먹는 포크스푼 (1살부터)   [0, 29900]          1
378                                      더블하트 베이비 로션 250ml + 포밍워시 300ml   [0, 51000]          1
380                              더블하트 섬유유연제 용기 1200ml + 섬유유연제 리필 1800ml   [0, 16200]          1
382                              더블하트 젖병세정제 거품형 700ml(용기) + 650ml(리필)X3   [0, 33600]          1
396                                   하기스 네이처메이드 밤부 3단계 여아 144매(밴드형) X2  [0, 119040]          1
397                                   하기스 네이처메이드 밤부 4단계 남아 120매(밴드형) X2  [0, 119040]          1
398                                  하기스 네이처메이드 밤부 4단계 여아 120매(밴드형) X 3  [0, 178560]          1
399                                   하기스 네이처메이드 밤부 4단계 여아 120매(밴드형) X2  [0, 119040]          1
400                                   하기스 네이처메이드 밤부 5단계 남아 102매(밴드형) X2  [0, 119040]          1
401                                  하기스 네이처메이드 오가닉 3단계 남아 128매(밴드형) X2  [0, 164000]          1
402                                하기스 네이처메이드 팬티 밤부 3단계 남아 128매(팬티형) X2  [0, 124800]          1
403                               하기스 네이처메이드 팬티 밤부 3단계 여아 128매(팬티형) X 3  [0, 187200]          1
404                               하기스 네이처메이드 팬티 밤부 4단계 남아 108매(팬티형) X 3  [0, 187200]          1
405                                하기스 네이처메이드 팬티 밤부 4단계 남아 108매(팬티형) X2  [0, 124800]          1
406                               하기스 네이처메이드 팬티 밤부 4단계 여아 108매(팬티형) X 3  [0, 187200]          1
407                                하기스 네이처메이드 팬티 밤부 4단계 여아 108매(팬티형) X2  [0, 124800]          1
408                                하기스 네이처메이드 팬티 밤부 5단계 남아 88매(팬티형) X 3  [0, 187200]          1
409                                 하기스 네이처메이드 팬티 밤부 5단계 남아 88매(팬티형) X2  [0, 124800]          1
410                                하기스 네이처메이드 팬티 밤부 5단계 여아 88매(팬티형) X 3  [0, 187200]          1
411                                 하기스 네이처메이드 팬티 밤부 5단계 여아 88매(팬티형) X2  [0, 124800]          1
412                                 하기스 네이처메이드 팬티 밤부 6단계 남아 76매(팬티형) X2  [0, 124800]          1
413                                 하기스 네이처메이드 팬티 밤부 6단계 여아 76매(팬티형) X2  [0, 124800]          1

In [158]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.max_colwidth')
pd.reset_option('display.expand_frame_repr')

In [160]:
filtered_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199583 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199583 non-null  object
 1   배송완료일   199583 non-null  object
 2   배송시작일   199583 non-null  object
 3   구매일     199583 non-null  object
 4   구매시월령   167840 non-null  float64
 5   고객번호    199583 non-null  float64
 6   구매금액    199583 non-null  int64
 7   결제금액    199583 non-null  int64
 8   물품대분류   199583 non-null  object
 9   상품명     199583 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 20.8+ MB

In [162]:
filtered_sales_df.head()

              주문번호       배송완료일       배송시작일         구매일  구매시월령          고객번호   구매금액   결제금액 물품대분류                            상품명
0  901011864201303  2022-01-06  2022-01-02  2022-01-01   35.0  2.019010e+14  74560  43825    팬티     하기스 매직핏팬티 5단계 남아 124매(팬티형)
1  901011864430366  2022-01-04  2022-01-02  2022-01-01    9.0  2.019010e+14  74560  43825    팬티     하기스 매직핏팬티 3단계 남아 184매(팬티형)
2   81231186197954  2022-01-06  2022-01-02  2022-01-01   22.0  2.018123e+14  53920  36769    팬티  하기스 네이처메이드 팬티 5단계 여아 80매(팬티형)
3  812311863500220  2022-01-04  2022-01-02  2022-01-01    8.0  2.018123e+14  52160  32408    팬티    하기스 보송보송팬티 4단계 공용 124매(팬티형)
4  812311863220192  2022-01-04  2022-01-02  2022-01-01   23.0  2.018123e+14  47360  30066    팬티   하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형)

In [163]:
filtered_sales_df = filtered_sales_df[filtered_sales_df['결제금액'] != -35166]

In [165]:
filtered_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199582 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199582 non-null  object
 1   배송완료일   199582 non-null  object
 2   배송시작일   199582 non-null  object
 3   구매일     199582 non-null  object
 4   구매시월령   167839 non-null  float64
 5   고객번호    199582 non-null  float64
 6   구매금액    199582 non-null  int64
 7   결제금액    199582 non-null  int64
 8   물품대분류   199582 non-null  object
 9   상품명     199582 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 16.7+ MB

In [166]:
filtered_sales_df.to_csv('416뺀sales전처리.csv',index=False, encoding='utf-8-sig')

In [111]:
hyphen_orders = sales_df[sales_df['주문번호'].str.contains('-', na=False)]

# 결과 확인
print(hyphen_orders.shape)
print(hyphen_orders.head())

(21580, 10)
                              주문번호       배송완료일       배송시작일         구매일  구매시월령  \
178374  00423123948-07183074183560  2023-04-28  2023-04-25  2023-04-24  134.0
178384  00423012956-37102306162007  2023-04-27  2023-04-25  2023-04-24    NaN
178385  00423024730-63142055162008  2023-04-27  2023-04-25  2023-04-24    NaN
178406  00423033432-43801986162009  2023-04-29  2023-04-25  2023-04-24    NaN
178416  00423061446-28741572183559  2023-04-27  2023-04-25  2023-04-24  134.0

                고객번호   구매금액   결제금액 물품대분류  \
178374  2.019103e+14  12500   7300    팬티
178384  2.019091e+14      0      0  더블하트
178385  2.019091e+14      0      0  더블하트
178406  2.019091e+14  19900  17010   SKC
178416  2.019103e+14  16900  13380   FMC

                                                      상품명
178374                        닥터마밍 촉촉케어 아기물티슈 휴대형 20매X20팩
178384              더블하트 섬유세제 용기 1200ml + 섬유유연제 용기 1200ml
178385              더블하트 섬유세제 용기 1200ml + 섬유유연제 용기 1200ml
178406  그린핑거 야외놀이 선크림80ml X2 + 내추럴 수딩 젤로션100ml + 마이키즈 ...
178416                       크리넥스 마이비데 캡형 42매 X 9팩 카카오프렌즈

In [112]:
print(sales_df['주문번호'].dtype)

object

In [113]:
sales_hyphen = sales_df[sales_df['주문번호'].str.contains('-', na=False)]

In [114]:
customer_ids = sales_hyphen['고객번호'].unique()

In [123]:
member_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81094 entries, 0 to 81093
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   고객번호      81094 non-null  int64
 1   성별        81094 non-null  object
 2   결혼유무      81094 non-null  object
 3   거주지역      81094 non-null  object
 4   연령        81094 non-null  float64
 5   결제등록카드    81094 non-null  object
 6   유입경로      81094 non-null  object
 7   자녀여부      81094 non-null  object
 8   고객번호_int  81094 non-null  int64
dtypes: float64(1), int64(2), object(6)
memory usage: 6.2+ MB

In [124]:
sales_hyphen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21580 entries, 178374 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주문번호    21580 non-null  object
 1   배송완료일   21580 non-null  object
 2   배송시작일   21580 non-null  object
 3   구매일     21580 non-null  object
 4   구매시월령   18930 non-null  float64
 5   고객번호    21580 non-null  float64
 6   구매금액    21580 non-null  int64
 7   결제금액    21580 non-null  int64
 8   물품대분류   21580 non-null  object
 9   상품명     21580 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.8+ MB

In [115]:
member_filtered = member_df[member_df['고객번호'].isin(customer_ids)]
member_filtered

                  고객번호 성별 결혼유무 거주지역    연령  결제등록카드    유입경로 자녀여부
5      201812310749783  여   미혼   경기  26.0    광주은행    검색광고   No
6      201812310749784  여   기혼   충북  33.0    국민은행  네이버블로그  Yes
7      201812310749787  여   기혼   광주  35.0    BC카드  네이버블로그  Yes
17     201812310749827  여   기혼   경북  31.0  농협회원조합   인스타그램  Yes
23     201812310749852  여   기혼   서울  32.0   농협중앙회  네이버블로그  Yes
...                ... ..  ...  ...   ...     ...     ...  ...
81082  201912291058127  여   미혼   경기  31.0    국민은행   인스타그램   No
81088  201912291058154  여   기혼   경북  32.0  농협회원조합   인스타그램  Yes
81089  201912291058164  여   기혼   경기  31.0    국민은행    오픈마켓  Yes
81091  201912291058168  여   기혼   충북  26.0    삼성카드    검색광고  Yes
81093  201912291058171  여   기혼   서울  35.0   새마을금고   인스타그램  Yes

[13075 rows x 8 columns]

In [116]:
valid_customer_ids = member_filtered['고객번호'].unique()
sales_hyphen_valid = sales_hyphen[sales_hyphen['고객번호'].isin(valid_customer_ids)]

In [117]:
print(f"하이픈 주문서 중 전체 건수: {len(sales_hyphen)}")
print(f"member에 고객 정보 있는 건수: {len(sales_hyphen_valid)}")
print(f"member에 없는 고객번호로 인한 제거 건수: {len(sales_hyphen) - len(sales_hyphen_valid)}")

하이픈 주문서 중 전체 건수: 21580
member에 고객 정보 있는 건수: 21436
member에 없는 고객번호로 인한 제거 건수: 144

In [118]:
all_customer_ids = sales_df['고객번호'].unique()

# 하이픈 포함 주문번호에서 고객번호
hyphen_customer_ids = sales_df[sales_df['주문번호'].str.contains('-', na=False)]['고객번호'].unique()

# 하이픈 없는 주문번호에서 고객번호
no_hyphen_customer_ids = sales_df[~sales_df['주문번호'].str.contains('-', na=False)]['고객번호'].unique()

# member 고객번호
member_customer_ids = member_df['고객번호'].unique()

# 각각 member에 없는 고객번호 수
missing_in_member_hyphen = set(hyphen_customer_ids) - set(member_customer_ids)
missing_in_member_no_hyphen = set(no_hyphen_customer_ids) - set(member_customer_ids)

print(f"하이픈 포함 주문번호 중 member에 없는 고객번호 수: {len(missing_in_member_hyphen)}")
print(f"하이픈 없는 주문번호 중 member에 없는 고객번호 수: {len(missing_in_member_no_hyphen)}")
print(f"총 member에 없는 고객번호 수 (합산): {len(missing_in_member_hyphen) + len(missing_in_member_no_hyphen)}")
print(f"sales 전체에서 member에 없는 고객번호 수: {len(set(all_customer_ids) - set(member_customer_ids))}")

하이픈 포함 주문번호 중 member에 없는 고객번호 수: 110
하이픈 없는 주문번호 중 member에 없는 고객번호 수: 190
총 member에 없는 고객번호 수 (합산): 300
sales 전체에서 member에 없는 고객번호 수: 266

In [141]:
filtered_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199583 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주문번호    199583 non-null  object
 1   배송완료일   199583 non-null  object
 2   배송시작일   199583 non-null  object
 3   구매일     199583 non-null  object
 4   구매시월령   167840 non-null  float64
 5   고객번호    199583 non-null  float64
 6   구매금액    199583 non-null  int64
 7   결제금액    199583 non-null  int64
 8   물품대분류   199583 non-null  object
 9   상품명     199583 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 20.8+ MB

In [150]:
member_df['고객번호_int'] = pd.to_numeric(member_df['고객번호'], errors='coerce').astype('Int64')
member_customer_set = set(member_df['고객번호_int'].dropna())

In [151]:
sales_hyphen_customers = set(sales_with_hyphen['고객번호_int'].dropna())
not_in_member_hyphen = sales_hyphen_customers - member_customer_set

print(f"주문번호에 '-' 포함된 고객 중 member에 없는 고객 수: {len(not_in_member_hyphen)}")

주문번호에 '-' 포함된 고객 중 member에 없는 고객 수: 0

In [152]:
excluded_customers_count = 416  # sales에서 member에 없는 고객 수 제외 건수

if len(not_in_member_hyphen) <= excluded_customers_count:
    print("주문번호에 '-' 포함된 member에 없는 고객은 416건 안에 포함됩니다.")
else:
    print("주문번호에 '-' 포함된 member에 없는 고객은 416건을 초과합니다.")

주문번호에 '-' 포함된 member에 없는 고객은 416건 안에 포함됩니다.